body {
  margin: 0;
  background-color: #e0ffff;
  font-family: "Roboto", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 15px;
  margin-left: 40px;
}

.search__btn {
  padding: 8px;
}

.serch__img {
  width: 22px;
  height: auto;
}

.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0099cc;
  width: 700px;
  height: 35px;
  border-radius: 5px;
  padding: 3px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.header__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo__img {
  width: auto;
  height: 50px;
}

.logo__span {
  color: #6f6f6f;
  font-size: 12px;
}

.search {
  border: none;
  outline: none;
  width: 660px;
  height: 29px;
}

.input_ {
  border: none;
  outline: none;
}

.category {
  width: 200px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 20px;
}

.category__item {
  cursor: pointer;
}

.category__item__active {
  color: #fff;
  background-color: #0099cc;
  cursor: pointer;
  border-radius: 5px;
}

.container__inner {
  display: flex;
  margin-top: 20px;
}

.container__category {
  padding-left: 0px;
}

.container__menu {
  display: flex;
  flex-wrap: wrap;
}

.container__item {
  padding: 5px;
  font-size: 20px;
}

.container__middle {
  display: flex;
}

.container__products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.container__slider {
  position: relative;
  margin-left: 20px;
  width: 80%;
  height: 300px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.registration {
  margin-top: 30px;
  background-color: #afeeee;
  padding: 30px;
}

.registration__img {
  border-radius: 50%;
  width: 60px;
  height: auto;
}

.registration__btn,
.login__btn {
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

.registration__btn {
  color: #ffffff;
  background-color: #0099cc;
}

.registration__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login__btn {
  color: #c0c0c0;
  background-color: #ffffff;
}

.banner__img {
  margin-top: 20px;
}

.content__banner {
  height: 70px;
  width: auto;
  background-color: #0099cc;
  border-radius: 10px;
}

.product__img {
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

.product {
  border-radius: 20px;
  background-color: #fff;
  width: 160px;
  height: auto;
  margin: 10px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: auto;
  padding: 10px;
}

.footer__link {
  margin: 0 auto;
}

.footer {
  background-color: #c0c0c0;
}

.footer__logo {
  margin-top: 20px;
}

.footer__network,
.footer__magazine,
.footer__info {
  display: flex;
}

.footer__info {
  width: 500px;
  margin-left: 20px;
  margin: 0 auto;
}

.footer__networks {
  margin-right: 70px;
}

.footer__magazine {
  margin-top: 20px;
}

.footer__network {
  margin-top: 70px;
}

.network__img {
  margin-right: 15px;
}

.basket {
  margin-top: 30px;
}

.basket__logo {
  color: white;
}

.basket__empty {
  text-align: center;
}

.basket__empty__img {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.basket-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  width: 800px;
  height: auto;
  margin: 10px;
  padding: 5px;
}

.basket-product__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-product__span {
  color: orange;
  width: 12px;
  height: auto;
}

.basket__prices {
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
}

.basket_product__svg {
  cursor: pointer;
}

.basket_product__svg:before {
  color: red;
}

.basket__prices__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__basket {
  margin-left: 20px;
}

.form__item {
  color: red;
}

.slider__img {
  position: absolute;
  width: 100%;
  height: 300px;
  transition: all 0.2s;
}

.slider__img-prev {
  transform: translateX(-100%);
}

.slider__img-next {
  transform: translateX(100%);
}

.btn {
  border: none;
  outline: none;
  background-color: #4169e1;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.btn_red {
  border: none;
  outline: none;
  background-color: #ff0000;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.reviews {
  margin-top: 30px;
}

.reviews__add {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  width: 800px;
  height: auto;
  margin: 10px;
}

.review_product {
  width: 800px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.review_product-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars_img:active {
  filter: invert(1);
}

.content__banner-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order_product__ptice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preloader {
  width: 80px;
  height: auto;
}

.app_interval {
  min-height: 1200px;
  width: auto;
}

.animation_banner__img {
  width: 70px;
  height: auto;
}

.banner_anim__text {
  font-size: 30px;
  color: #fff;
}

.account__btns {
  display: flex;
  flex-wrap: wrap;
}
